* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #BB99DD;
    --bg-color: #FAF7FD;
}

body * {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    height: 100%;
}



#container {
    width: 300px;
    margin: 56px auto;
    text-align: center;
}

#profile {
    padding: 24px 0;
}

#profile img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    margin-bottom: 10px;
}

#profile p {
    line-height: 24px;
    font-weight: 300;
}

#links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#links a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid  var(--text-color);
    border-radius: 4px;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 34px;
}

#social-links i {
    font-size: 25px;
    color: var(--text-color);
}

#social-links a {
    text-decoration: none;
}